@import 'fonts.css';

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
}

.center {
  margin: 0 auto;
}

.container {
  padding: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 15px;
}

.fitContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.grey {
  background-color: #dddddd;
}

.lightGrey {
  background-color: #ececec;
}

.borderOutset {
  border: 3px outset #ffffff;
}

.borderOutsetSmall {
  border: 2px outset #ffffff;
}

.borderInset {
  border: 3px inset #ffffff;
}

.borderInsetSmall {
  border: 1px solid #c0c0c0;
}

.w100 {
  width: 100%;
}

$tileSize: 30px;

.tile {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $tileSize;
  height: $tileSize;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tile--1 {
  color: dodgerblue;
}

.tile--2 {
  color: forestgreen;
}

.tile--3 {
  color: darkred;
}

.tile--4 {
  color: darkblue;
}

.tile--5 {
  color: saddlebrown;
}

.tile--6 {
  color: darkcyan;
}

.tile--7 {
  color: black;
}

.tile--8 {
  color: dimgrey;
}

.tile--mined {
  color: crimson;
}

.field {
  display: grid;
  grid-template-columns: repeat(var(--field-x), $tileSize);
  grid-template-rows: repeat(var(--field-y), $tileSize);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px outset #ffffff;
  user-select: none;

  &:hover,
  &:focus-visible {
    background-color: #eeeeee;
  }

  &:active {
    border: 3px inset #ffffff;
  }
}

.button--smile {
  width: 44px;
  height: 44px;
  font-size: 26px;
  line-height: 1rem;
}

.counter {
  width: 83px;
  background-color: #000000;
  color: crimson;
  font-family: 'Digital Dismay', monospace;
  font-size: 65px;
  line-height: 0.75;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.counterNumbers {
  position: relative;
}

.counterNumbers::before {
  position: absolute;
  top: 9px;
  left: -57px;
  content: '000000';
  opacity: 0.5;
}

.modal {
  padding: 25px;
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background-color: #ffffff;
  opacity: 0.6;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &-group {
    display: flex;
    align-items: center;
    column-gap: 4px;
    row-gap: 8px;
  }
}

.input {
  &--radio {
    margin: 0;
  }
}

.input:focus {
  outline: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hinted {
  cursor: help;
}
